<div class="header">
  <h3> Wikinimous </h3>
  <%= link_to "Add a new article", new_article_path, class: "btn btn-success" %>
</div>

  <div id = "edit-article">
  <h1> Edit Article </h1>

  <%= form_for(@article) do |f| %>
    <div class= 'form-group'>
      <%= f.label :title, class: "control-label required" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class= 'form-group'>
      <%= f.label :content, class: "control-label required"%>
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <%= f.submit %>

    <div> <%= link_to "Back to list", articles_path, class: 'btn btn-primary' %> </div>
  <% end %>
</div>
